.div1{
    margin: 5px;
    background-color: gray;
    width: 60px;
    height: 180px;
    display: flex;
    flex-direction: column;
}

.div-red{
    background-color:lightgrey;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-top: 10px;
    margin: 5px;
}

.div-yellow, .div-green{
    margin: 5px;
    background-color: lightgrey;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.red{
    background-color:red;
}

.yellow {
    background-color:yellow;
}

.green{
    background-color:green;
}