.div1{
    margin: 5px;
    background-color: gray;
    width: 60px;
    height: 180px;
    display: flex;
    flex-direction: column;
}
/*PUEDO CAMBIAR EL BACKGROUND A CADA DIV EN FUNCIÓN DEL COLOR Q LE TOQUE.*/
.div-red, .div-orange, .div-green{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-top: 10px;
    margin: 5px;
}

.gray{
    /* background-color:red; */
   background-color:lightgray; 
}

/* 
PUEDO USAR ESTAS CLASES A MODO DE ADD CLASS LIST*/
.red{
    background-color:red;
}

.orange {
    background-color: orange;
}

.green{
    background-color:green;
} 